.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: #459b9f;
}

.main-container>div{
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    width: 49%;
    margin: 1% 0;
    padding: 2% 0;

    color: white;
    border: solid 2px cornflowerblue;
    box-sizing: border-box;
}

button {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
    margin: 0 10px 10px;
    outline: none;
    border: 2px solid #fff;
    border-radius: 50px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #444;
    background-color: orange;
    box-shadow: 0 4px 6px rgb(204, 21, 21), 0 1px 3px rgb(35, 194, 38);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.2s;
}

button:focus-visible {
    border: 1px solid #4c51f9;
    outline: none;
}

button:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgba(65, 132, 144, 0.68), 0 3px 6px rgb(35, 72, 194);
}

button:active {
    background-color: #28e8bb;
}

.btn-posts{
    width: 90%;
}

.users-main-container,
.post-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #157715;
}

.user-div,
.post-container{
    width: 40%;
    padding: 2% 5%;
    box-sizing: border-box;
    margin: 2% 0;

    background-color: #73e4e8;
    color: #c22323;
}

span{
    color: black;
    font-weight: 400;
}

.user-div>div>p{
    margin-left: 10%;
}

.posts-titles-container-hide{
    display: none;
}

.posts-titles-container-show{
    display: flex;
    flex-wrap: wrap;
}


.posts-titles-container-show>div,
.comments-container>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    width: 20%;

    border: white 2px solid;
    box-sizing: border-box;

    color: #d3f4f8;
}

.post-main-container{
    background-color: #459b9f;
}

.post-container{
    background-color: #f9c177;
    color: #19c219;
}

.comments-container{
    display: flex;
    flex-wrap: wrap;
}

.email{
    font-style: italic;
    font-size: 14px;
}

.comments-container>div{
    padding: 2%;
    box-sizing: border-box;
    width: 25%;
    background-color: #0ed311;
    color: #7e3030;
}

.comments-container>div>h3{
    margin: 0;
}



