
@media screen and (max-width: 600px) {

    .block-a{
        height: 20vh;
    }

    .big-block{
        flex-direction: column;
    }

    .big-block-six-blocks{
        width: 100%;

    }

    .big-block-block{
        /*box-sizing: border-box;*/
        margin: 5%;
        height: 15vh;
    }

    .block-h{
        width: 100%;
        height: 40vh;
    }
}