.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-container>div{
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 33%;

    border: solid 1px cornflowerblue;
    box-sizing: border-box;
}

.main-container>div>h3>span{
    font-weight: 400;
}

#userPostsDiv>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userPostsDiv>div>h4{
    margin: 0;
}

#userPostsDiv>div>p{
    text-align: center;
}